<link rel="stylesheet" href="home.component.css">

<div class="header">
<div class="navbar">
    <div class="logo">
        <img src="assets/Sports_shop_logo.jpeg" width="125px">
    </div>
</div>
<div class="row">
<div class="col-1">
    <h1>GIVE YOUR <br> A NEW STYLE</h1>
    <a href="" class="btn">Explore Now</a>
</div>
<div class="col-2">
<img src="../../assets/image1.png">
</div>
</div>
</div>
<div class="categories">
    <div class="small-container">
    <div class="row">
        <h3>Brand's Catagories</h3><br>
        <div class="col-3">
        <img src="assets/adidas_logo.jpeg">
    </div>
    <div class="col-3">
        <img src="assets/nike_logo.jpeg">
    </div>
    <div class="col-3">
        <img src="assets/puma_logo.jpeg">
    </div>
</div>
</div>
</div>
